!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %title AwesomeEvents
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header.navbar.navbar-expand-sm.navbar-light.bg-light.container
      = link_to "AwesomeEvents", root_path, class: "navbar-brand"
      %ul.navbar-nav
        - if logged_in?
          %li.nav-item
            = link_to "ログアウト", logout_path, class: "nav-link", data: { turbo_method: :delete }
        - else
          %li.nav-item
            = form_with url: "/auth/github", method: :post, class: "nav-link", status: :see_other do 
              %button{:type => "submit"} GitHub でログイン
    .container
      - if flash.notice
        .alert.alert-info.alert-dismissible.fade.show{role: "alert"}
          = flash.notice
      = yield
